apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ebs-sc
provisioner: ebs.csi.aws.com
parameters:
  type: gp3
  fsType: ext4
  encrypted: "true"
  tagSpecification_1: "SnapshotSchedule=Daily"
reclaimPolicy: Retain
volumeBindingMode: WaitForFirstConsumer
